.query_container{
    
   
    margin: 20px;
    font-size: 18px;
    margin-top: 20px;
}
#query_head{
    text-align: center;
    
}
#mesg{
    text-align: center;
    margin-bottom: 30px;
}
#sname{
   width:400px;
   height:40px;
   margin-bottom: 20px;
   
   
   border: 3px solid black;
   font-size: 18px;
   margin-left: 28%;
   align-self: center;
}
#quer{
    width:800px;
    height:100px;
    margin-bottom: 20px;
    
    border: 3px solid black;
    font-size: 18px;
    margin-left: 10%;
}
#sub-queries{
    font-size:18px;
    border: 3px solid black;
    margin-left: 35%;
}