.query_container{   
    
    font-size: 18px;
}
#query_head{
    color:#3f37c9;
    text-align: center;
    
}
#mesg{
    text-align: center;
    color:#ff006e;

}
#sname{

   
   margin:20px 50%;
   width: 50%;
   padding: 10px 8px;
   transform: translateX(-50%);

   border: 3px solid black;
   font-size: 18px;

   align-self: center;
}
#quer{
    margin:20px 50%;
    padding: 10px 8px;
    width: 50%;
    height: 200px;
    transform: translateX(-50%);
    
    border: 3px solid black;
    font-size: 18px;
    
}
#sub-queries{
    margin:20px 50%;
    transform: translateX(-50%);
    font-size:18px;
    border: 3px solid black;

}